nav {
  background-color: white;
  height: 2.5em;
}

btn-secondary {

}

btn-secondary:hover {

}

.homeBtn {
  font-size: 1.2em;
  margin: 0.5em;
  /*float: left;*/
}

.headerSearch {
  border: none;
  color: #333;
  display: inline-block;
  font-family: 'Helvetica Neue', 'Helvetica', '\30D2\30E9\30AE\30CE\89D2\30B4   Pro W3', 'Hiragino Kaku Gothic Pro', '\30E1\30A4\30EA\30AA', 'Meiryo', '\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF', arial, sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -.15px;
  line-height: 16px;
  margin: 0.5em;
  overflow: hidden;
  resize: none;
  width: 250px;
  word-spacing: 0;
  word-wrap: break-word;
  background-color: #efefef;
}

.searchContainer {
  background-color: #efefef;
  display: inline-block;
  width: 100%;
  margin: 0.5em;
}

.searchBtn {
  text-align: center;
  margin: 0.5em;
}

.notifications, .profile {
  /*float: right;*/
  margin: 0.5em;
}
