
<!-- Bootstrap core CSS -->
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap theme -->
<link href="../../assets/css/bootstrap-theme.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../../assets/css/theme.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">

      <!-- Home link -->
      <li><a type="button" class="homeBtn btn btn-secondary" href="#">{{title}}</a></li>


      <!-- Search bar -->
      <li><input [(ngModel)]=query class="headerSearch" placeholder="Search" (keyup.enter)="search()"></li>
      <li><button type="button" class="searchBtn btn btn-secondary" (click)="search()">Search</button></li>


      <li><a type="button" class="notifications btn btn-secondary">Notifications</a></li>
      <li><a href="login" type="button" class="profile btn btn-secondary">Profile</a></li>

    </ul>
  </div>
</nav>
