<!-- Bootstrap core CSS -->
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap theme -->
<link href="../../assets/css/bootstrap-theme.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../../assets/css/theme.css" rel="stylesheet">

<nav class="footer navbar navbar-default navbar-fixed-bottom transparent">
  <div class="container-fluid">
    <button type="button" class="circularBtn btn btn-secondary">+</button>
    <button type="button" class="circularBtn btn btn-secondary">?</button>
    <button type="button" class="privacy btn btn-secondary">Privacy</button>
  </div>
</nav>

