nav {
  /* margin-top: 100%; */
  background-color: #2aabd2;
  opacity: 0;
  width: 97%;
  margin-bottom: 10%;
  padding-bottom: 1em;
}

btn {
  opacity: 1;
}

.circularBtn, .privacy {
  float: right;
  clear: right;
  display: block;
  bottom: 0;
  margin: 0.5em;
  border-radius: 50%;
}

.privacy {
  border-radius: 0.35em;
}
