<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap theme -->
  <link href="../../assets/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/css/theme.css" rel="stylesheet">

</head>
<body>
  <form>

    <!-- Username and password input fields -->
    <div>
      <label for="username">Username</label>
      <input name="username" class="form-control" id="username">
    </div>

    <div>
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password">
    </div>

  </form>
</body>
</html>
