<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap theme -->
  <link href="../../assets/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/css/theme.css" rel="stylesheet">

</head>
<body>
  <form>

    <div class="login">

      <!-- Username and password input fields -->
      <input name="username" class="form-control" id="username" placeholder="Username">
      <input name="password" type="password" class="form-control" id="password" placeholder="Password">

      <!-- Login and Sign Up Buttons-->
      <a class="btn btn-default btn-primary btn-block">Log in</a>
      <a class="btn btn-default btn-primary btn-block">Sign Up</a>
    </div>


  </form>
</body>
</html>
