<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <!-- Bootstrap core CSS -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap theme -->
  <link href="../../assets/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/css/theme.css" rel="stylesheet">

</head>
<body>
  <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

    <!--<div class="login">-->
    <div class="form-group" [ngClass]="{'has-error': f.submitted && !username.valid}">

      <!-- Username and password input fields -->
      <input name="username" type="text" class="form-control" id="username" placeholder="Username"
             [(ngModel)]="model.username" #username="ngModel" required/>

      <div *ngIf="f.submitted && !username.valid" class="help-block">Username required.</div>
    </div>

    <div class="form-group" [ngClass]="{'has-error': f.submitted && !password.valid}">
      <input type="password" class="form-control" name="password" placeholder="Password"
             [(ngModel)]="model.password" #password="ngModel" required/>
      <div *ngIf="f.submitted && !password.valid" class="help-block"></div>
    </div>

    <!--<input name="password" type="password" class="form-control" id="password" placeholder="Password">-->

    <!-- Login and Sign Up Buttons-->
    <div>
      <!--<a class="btn btn-default btn-danger btn-block">Log in</a>-->
      <!--<a class="btn btn-default btn-primary btn-block">Sign Up</a>-->
      <button [disabled]="loading" class="btn btn-primary">Log in</button>
    </div>

    <div *ngIf="error" class="alert alert-danger">{{error}}</div>

  </form>
</body>
</html>
