<div>
	<!-- Filter buttons -->
	<button 
		(click)="filter='all'">
		All
	</button>
	<button 
		(click)="filter='Whalemoji'">
		Whalemoji
	</button>
	<button
		(click)="filter='Blender'">
		Blender
	</button>
	
	<ul id="thumbnailsList">
	
		<!-- Iterate thru imgs in array -->
		<!-- Pipe for filter and displays correct images -->
		<li *ngFor="let image of (displayImages | imageFilter:filter)">
		
		    <!-- Anchor tag: Create hyperlink -->
			<a [routerLink]="['/image', image.id]">
				<img src="{{image.url}}" class="tn">
			</a>
		</li>
	</ul>
</div>

