.header {
  border-bottom: 1px solid #e7e7e7;
  color: #333;
  font-size: 20px;
  margin: 0;
  min-height: 20px;
  padding: 17px 50px 13px 18px;
  padding-right: 50px;
  position: relative;
}

.headerText {
  color: #333;
  font-size: 20px;
  margin: 0;
  min-height: 20px;
  display: inline-block;
}


