<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>

  <!-- Bootstrap core CSS -->
  <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap theme -->
  <link href="../../assets/css/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/css/theme.css" rel="stylesheet">

</head>
<body>

  <form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input type="text" class="form-control" name="firstName" placeholder="First name" [(ngModel)]="model.firstName" #firstName="ngModel" required />
      <div *ngIf="f.submitted && !firstName.valid" class="help-block">First name is required.</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input type="text" class="form-control" name="lastName" placeholder="Last name" [(ngModel)]="model.lastName" #lastName="ngModel" required />
      <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last name is required.</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required.</div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required.</div>
    </div>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Sign up</button>
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</body>

</html>
