.img-container {
	margin-top: 24px;
	box-shadow: #acacac 1px 2px 8px 8px;
	height: 600px;
	width: 900px;
	background-position: center;
	background-repeat: no-repeat;
	align-content: center;
}

#title {
	font-size: 1.5em;
	padding: 18px;
}